.like-btn {
  display: flex;
  gap: 7px;
}
.like-btn:hover,
.delete-btn:hover {
  cursor: pointer;
}
.tweet-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 2rem 10px 2rem;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.tweet-username {
  text-decoration: none;
  color: black;
}
.tweet-username:hover {
  text-decoration: underline;
}
.tweet-name {
  display: inline;
  font-weight: bold;
}
