:root {
  --light-blue-1: #23a4f2;
  --light-blue-2: #50b7f5;
  --light-blue-3: #80cbf7;

  --light-gray: #eff8fe;
  --black: #000000;
}

body {
  min-height: 100vh;
}

.btn-lb {
  border: 0 solid transparent;
  border-radius: 45px;
  background-color: var(--light-blue-1);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  transition: 0.1s ease-in;
}

.btn-lb:hover {
  transition: 0.1s ease-in;
  background-color: var(--light-blue-2);
  color: white;
}

.disable-r-padding {
  padding-right: 0rem;
}
